.pancakeswap-bg{
    background-image: url('../../../../assets/bg-imgae/Colors-footer.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            max-width: 1238px;
            margin: 0 auto;
            padding: 385px 0;
}


.swap-subtitle{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 84px;
    color: #FFFFFF;
}
.swap-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 120px;
    background: linear-gradient(106.22deg, #0085FF -41.18%, #C15CFF 81.41%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.swap-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}
.icon-social a{
    text-decoration: none;
    color: #FFFFFF;
}

.swap-img img{
    max-width: 433px;
    height: 409px;
    border-radius: 24px;
    margin-left: 150px;
}







@media (min-width: 250px) and (max-width: 600px){
    .pancakeswap-bg {
            width: 80%;
            margin: 0 auto;
        }
    .swap-subtitle {
        font-size: 38px;
        text-align: center;
    }
    .swap-title{
        font-size: 48px;
        text-align: center;
    }


    .pancakeswap-bg {
        background-image: url('../../../../assets/bg-imgae/Colors-footer.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    .swap-text {
        font-size: 20px;
    }
    .swap{
        margin-bottom: 25px;
    }
}

@media (min-width: 601px) and (max-width: 1000px) {
    .pancakeswap-bg {
        width: 80%;
        margin: 0 auto;
    }

    .swap-subtitle {
        font-size: 38px;
        text-align: center;
    }

    .swap-title {
        font-size: 48px;
        text-align: center;
    }


    .pancakeswap-bg {
        background-image: url('../../../../assets/bg-imgae/Colors-footer.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .swap-text {
        font-size: 20px;
    }

    .swap {
        margin-bottom: 25px;
    }
    .swap-display{
        display: block;
    }
}