.header-bg{
    background-image: url('../../../../assets/bg-imgae/header-bg.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    /* height: 100%; */
    width: 100%;
}
.header-container{
        max-width: 1320px;
        margin: 0 auto;

}
.trading-text{
    margin-top: 60px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.835);
}
.clock-container{
    padding-bottom: 240px ;
   margin-bottom: 90px ;

}
.header-title{
    width: 936px;
    margin: 0 auto;
}
.header-title>h1{
    margin-top: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 80px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}
.header-title h1 span{
    background: linear-gradient(103.99deg, #0A81F7 40.03%, #E063A9 65.85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.header-title h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    text-transform: capitalize;
    color: #7BD0FB;
    margin-top: 24px ;
    margin-bottom: 70px;
}
/* .btn-base{
    margin: 63px auto 129px auto;
    padding-bottom: 100px;
} */

.btn-base{
    text-decoration: none;
    position: relative;
    border:none;
    background: none;
    border-radius: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    padding: 16px 40px;
    background: linear-gradient(151.29deg, #C767B3 0.28%, #AD5F9D 0.29%, #255FF5 122.93%);
    border-radius: 5px;
    transition: .3s;
}

.btn-base:hover{
    background: linear-gradient(151.29deg, #255FF5 0.28%, #C767B3 122.93%);
    font-size: 22px;
    color: #FFFFFF;
}




/*   */

/*************************************************
***************************************************
*******************************************************


responsive for mobile view


*****************************************************
*********
**********************************/





@media (min-width: 250px) and (max-width: 600px) {
.header-bg {
    background-image: none;
    
}

.header-container {
    max-width: 100%;
}

.header-title {
    width: 100%;
    margin: auto;
}

.header-title h1 {
    margin-top: 110px;
    margin-bottom: 140px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}

.header-title h1 span {
    background: linear-gradient(103.99deg, #0A81F7 40.03%, #E063A9 65.85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header-title h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    text-transform: capitalize;
    color: #7BD0FB;
    margin-top: 34px;
}

.btn-base {
    margin: 63px auto 0 auto;
}

.btn-base button {
    position: relative;
    border: none;
    background: none;
    border-radius: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}


}


















/*************************************************
***************************************************
*******************************************************


responsive for mobile view


*****************************************************
*********
**********************************/





@media (min-width: 610px) and (max-width: 1100px) {

    .header-bg {
        background-image: none;

    }

    .header-container {
        max-width: 100%;
    }

    .time-box {
        margin-top: 5px;
    }

    .time-section {
        margin: auto;
        width: 100%;
        margin-top: 18px;
    }

    .time-section h4 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        text-transform: uppercase;
        text-align: center;
        color: #FFFFFF;
    }

    .header-title {
        width: 100%;
        margin: auto;
        margin-top: 20px;
    }

    .header-title h1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 35px;
        text-align: center;
        text-transform: capitalize;
        color: #FFFFFF;
    }

    .header-title h1 span {
        background: linear-gradient(103.99deg, #0A81F7 40.03%, #E063A9 65.85%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .header-title h3 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 60px;
        text-align: center;
        text-transform: capitalize;
        color: #7BD0FB;
        margin-top: 34px;
    }

    .btn-base {
        margin: 63px auto 0 auto;
    }

    .btn-base button {
        position: relative;
        border: none;
        background: none;
        border-radius: 5px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        color: #FFFFFF;
    }
}