.accordion-body-custom{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #C5B5D6;
    padding: 28px 80px 28px 37px;
}

.accordion-item-costom{
    margin-top: 30px;
    margin-right: 80px;
}

.accordion-button{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    border: none;
    background: linear-gradient(91.37deg, #201F60 48.83%, rgba(71, 50, 115, 0) 73.28%);
    border-radius: 6px 6px 0px 0px;
}

.accordion-button::after{
    background-image: url(../assets/special-icon/Stroke\ 1.svg);
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}
.accordion-button:not(.collapsed)::after{
    background-image: url(../assets/special-icon/Stroke\ 1.svg);
    transform: rotate(-180deg);
}
.accordion-button:not(.collapsed){
        color: #ffffff;
        background-color: transparent;
}

.accordion-button:focus{
    box-shadow: none;
}


 .accordion-button::before{
        content: "";
        width: 12px;
        height: 12px;
        left: 8.49px;
        top: 9.51px;
        margin-right: 10px;
        border: 2px solid #2F80ED;
        box-sizing: border-box;
        border-radius: 4px;
        transform: rotate(45deg);
        transition: transform .2s ease-in-out;
}
.accordion-button:not(.collapsed)::before {
            content: "";
            width: 12px;
            height: 12px;
            left: 8.49px;
            top: 9.51px;
            margin-right: 10px;
            background: #2F80ED;
            border-radius: 4px;
            transform: rotate(135deg);
            transition: transform .2s ease-in-out;
}









@media (min-width: 250px) and (max-width: 600px) {

        .accordion-body-custom {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 26px;
            color: #C5B5D6;
            padding: 18px 70px 18px 27px;
        }
        
        .accordion-item-costom {
            margin-top: 30px;
            margin-right: 0;
        }
        
        .accordion-button {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            color: #FFFFFF;
            border: none;
            background: linear-gradient(91.37deg, #201F60 48.83%, rgba(71, 50, 115, 0) 73.28%);
            border-radius: 6px 6px 0px 0px;
        }
        
        .accordion-button::after {
        
            background-image: url(../assets/special-icon/Stroke\ 1.svg);
            background-repeat: no-repeat;
            background-size: 1.25rem;
            transition: transform .2s ease-in-out;
        }
        
        .accordion-button:not(.collapsed)::after {
            background-image: url(../assets/special-icon/Stroke\ 1.svg);
            transform: rotate(-180deg);
        }
        
        .accordion-button:not(.collapsed) {
            color: #ffffff;
            background-color: transparent;
        }
        
        .accordion-button:focus {
            box-shadow: none;
        }
        
        
        .accordion-button::before {
            content: "";
            width: 12px;
            height: 12px;
            left: 8.49px;
            top: 9.51px;
            margin-right: 10px;
            border: 2px solid #2F80ED;
            box-sizing: border-box;
            border-radius: 4px;
            transform: rotate(45deg);
            transition: transform .2s ease-in-out;
        }
        
        .accordion-button:not(.collapsed)::before {
            content: "";
            width: 12px;
            height: 12px;
            left: 8.49px;
            top: 9.51px;
            margin-right: 10px;
            background: #2F80ED;
            border-radius: 4px;
            transform: rotate(135deg);
            transition: transform .2s ease-in-out;
        }
        
}