.Model-img {
    max-width: 710px;
    max-height: 525px;
    background: black !important;
}

.modal-content {
    background: rgb(255 255 255);
    border: none;
    height: 40vh;
}

.model-img h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 120px;
    line-height: 88px;
    text-align: center;
    background: linear-gradient(106.22deg, #0085FF -41.18%, #C15CFF 81.41%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0px !important;
    line-height: 11vh;
}

.model-img button {
    color: rgb(0, 0, 0);
    background: none;
    border: none;
    font-size: 48px;
    padding: 0px 15px;
}

.modal-body {
    padding: 0rem;

}